{% extends 'base.html' %}

{% block title %}Mes Réservations{% endblock %}

{% block content %}

<div class="container my-5">

    <h2 class="text-center mb-4">Mes Réservations</h2>

    <div class="row">

        {% for r in reservations %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100">

                {% if r.car.image %}
                    <img src="{{ r.car.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
                {% endif %}

                <div class="card-body text-center">

                    <h5>{{ r.car.marque }} {{ r.car.modele }}</h5>

                    <p>💰 {{ r.car.prix_par_jour }} DH / jour</p>

                    <p>📅 Début : {{ r.date_debut }}</p>
                    <p>📅 Fin : {{ r.date_fin }}</p>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="text-center">
            <p>Aucune réservation pour le moment.</p>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}