{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}"> 
<link rel="stylesheet" href="{% static 'base/fontawesome/css/all.min.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-solid fa-car"></i> AutoLux</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cars_list' %}">Collection</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="{% url 'propos' %}">A propos</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contactez-nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'avis' %}">Avis</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profil</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'reservation_list' %}">Mes Réservations</a>
            <a class="dropdown-item" href="{% url 'reservation_list' %}">Paiement</a>
            <a class="dropdown-item" href="#">Notifications</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Déconnexion</a>
          </div>
        </li>
      </ul>


      
     <!--
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>   
      --> 
    </div>
  </div>
</nav>
{% block content %}{% endblock %}
<script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
